body {
    background-color: hsl(212, 45%, 89%);
}



.card {
    position: relative;
    background-color: hsl(0, 0%, 100%);
    width: 20rem;
    margin: 10rem auto;
    border-radius: 15px;
    height: 33rem;
    
}

.card__qrcode {
    width: 90%;
    border-radius: 12px;
    position: relative;
    margin: 1rem 3rem 0 1rem;
}

.text {
    font-family: 'Outfit', sans-serif;
}

.card__header {
    text-align: center;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    font-size: 1.4rem;
    padding: 0 1rem;
}

.card__paragraph {
    text-align: center;
    font-weight: 400;
    color: hsl(220, 15%, 55%);
    font-size: 1rem;
    padding: 0 1.7rem;
}


@media(max-width: 375px){
    .card {
        position: relative;
        background-color: hsl(0, 0%, 100%);
        width: 15rem;
        margin: 10vh auto;
        border-radius: 15px;
        height: 25rem;
        
    }

    .card__qrcode {
        width: 86%;
    }

    .card__header {
        font-size: 1rem;
    }

    .card__paragraph {
        font-size: .75rem;
    }
}