body {
    background-color: hsl(212, 45%, 89%);
}



.card {
    position: relative;
    background-color: white;
    width: 20rem;
    margin: 10rem auto 0;
    border-radius: 15px;
    height: 32rem;
    
}

.card__qrcode {
    width: 18rem;
    border-radius: 12px;
    position: relative;
    margin: 1rem 3rem 0 1rem;
}

.text {
    font-family: 'Outfit', sans-serif;
}

.card__header {
    text-align: center;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    font-size: 1.5rem;
    padding: 0 1rem;
}

.card__paragraph {
    text-align: center;
    font-weight: 400;
    color: hsl(220, 15%, 55%);
    font-size: 1rem;
    padding: 0 1rem;
}


@media(max-width: 375px){
    .card {
        position: relative;
        background-color: white;
        width: 20rem;
        margin: 10% 7% 0;
        border-radius: 15px;
        height: 32rem;
        
    }
}